{% include "./add-ons/head.html" %}
{% block head %}
{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <title>Document</title>
</head>
<body>
    {% include "./add-ons/navbar.html" %}
    {% block navbar %}
    {% endblock %}
    <div class="container">
        <h1>Make Your Post!</h1>
        <form id="form" action="/blog" method="post">
            <input name="title" class="title" placeholder="Title"/>
            <textarea name="blog" id="blog" cols="30" rows="10"></textarea>
            <br>
            <button class="submit" type="submit">Post your blog</button>
            <p>See your posts <a href="{{ url_for('posts_bp.posts') }}">Here</a></p>
        </form>
    </div>
    
</body>
</html>