{% include "./add-ons/head.html" %}
{% block head %}
{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
    <title>Document</title>
</head>
<body>
    {% include "./add-ons/navbar.html" %}
    {% block navbar %}
    {% endblock %}
    <div class="container">
        {% for post in posts %}
            <div class="box-container">
                <h3>{{ post.title }}</h3>
                <h3 class="post">{{ post.post }}</h3>
                <p>See the full post <a href="{{ post.id }}">here</a></p>
                <br>
            </div>
        {% endfor %}
    </div>
</body>
</html>