{% include "./add-ons/head.html" %}
{% block head %}
{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/singlepost.css') }}">
    <title>Document</title>
</head>
<body>
    {% include "./add-ons/navbar.html" %}
    {% block navbar %}
    {% endblock %}
    <div class="container">
        {% for text in post%}
            <h1 class="title">{{ text.title }}</h1>
            <p class="text">{{ text.post }}</p>
            <p class="author">{{ text.author }}</p>
            <form action="/posts/{{id}}" method="post">
                <button type="submit" name="delete" class="deletePost">Delete Post</button>
            </form>
        {% endfor %}
    </div>
    
</body>
</html>