{% include "./add-ons/head.html" %}
{% block head %}
{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2><strong>Welcome Back</strong></h2>
        <p>You can log in here</p>
        <form action="/" method="post">
            <input class="username" type="text" name="username" placeholder="Username" />
            <br>
            <input type="password" name="password" placeholder="Password" />
            <p>Not a memeber yet? Sign up <a href="{{ url_for('signup_bp.signup') }}">Here</a></p>
            <button class="submit" type="submit">Log in</button>
        </form>
    </div>
    
</body>
</html>